<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.child.programming.base.mapper.SignUpExperienceCourseCustomMapper">
    <select id="getList" parameterType="java.util.Map" resultType="com.child.programming.base.dto.SignUpExperienceCourseInfoDto">
        select suec.id, suec.sign_up_time AS signUpTime, suec.is_payment AS isPayment,
        s.name AS studentName, s.id AS studentId, s.guardian_phone studentPhone,
        ec.title AS experienceCourseName, ec.id AS experienceCourseId,
        sc.share_counts shareCounts
        from sign_up_experience_course AS suec
        LEFT JOIN experience_course AS ec
        ON ec.id=suec.experience_course_id
        LEFT JOIN student AS s
        ON s.id=suec.student_id
        LEFT JOIN share_circle AS sc
        ON sc.course_id=suec.id
        and sc.student_id=s.id
        where ec.status=1
        and suec.status=1
        and s.status=1
        and s.id is not null
        and ec.id is not null
        <if test="studentName != null">
            and s.name=#{studentName}
        </if>
        <if test="isPayment != null">
            and suec.is_payment=#{isPayment}
        </if>

    </select>
</mapper>